* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

:root {
  --content-padding: 2.5rem;
  --dotted-border: 2px dotted lightgray;
  --solid-border: 2px solid lightgray;

  font-size: 8px;
}

body {
  display: grid;
  grid-template-rows: 2fr max-content 1fr;
  min-height: 100vh;
  
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem;
}

header {
  display: flex;
  padding-left: var(--content-padding);
  align-items: flex-end;
} 

.logo-container { 
  display: flex;
  justify-content: center;
  align-items: flex-end;
  
  width: clamp(5vw, 40rem, 25vw);
  height: 100%;
  border-right: var(--dotted-border);
  border-bottom: var(--dotted-border);
  border-left: var(--dotted-border);

  padding-bottom: 2rem;
}

nav {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;

  width: 100%;
  padding: 2rem var(--content-padding) 2rem 0;
  border-top: var(--solid-border);
  border-bottom: var(--dotted-border);
}

.nav-link {
  color: gray;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
}

.nav-link:hover {
  opacity: 0.5;
}

main {
  padding: 0 var(--content-padding);
}

.banner {
  border-right: var(--dotted-border);
  border-left: var(--dotted-border);

  height: 100%;
}

h1 {
  text-transform: uppercase;
  font-size: 5rem;
  font-weight: 400;
  padding: 3rem;
  color: gray;
}

.points-container {
  padding: 3rem;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.list-column {
  display: inline-block;
}

.points-container ul {
  list-style: none;
}

.points-container .point::before {
  content: '';
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-color: lightgray; 
  margin-right: 0.5rem;
}

footer {
  display: flex;
  justify-content: flex-end;
  padding: 3rem var(--content-padding);
  border-top: var(--solid-border);
}

@media screen and (min-width: 992px) {
  :root {
    --content-padding: 5rem;
    font-size: 9px;
  }
}

@media screen and (min-width: 1200px) {
  :root {
    --content-padding: 10rem;
    font-size: 10px;
  }
}

@media screen and (min-width: 1400px) {
  :root {
    --content-padding: 15rem;
  }
}